* {
    font-family: Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.main-title {
    text-align: center;
    margin: 10px;
}

.main-body {
    width: 800px;
    margin: 30px auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    font-size: 130%;
    text-align: center;
}

.grid li {
    padding: 20px 10px;
    margin: 10px;
    align-content: center;
    background-color: rgb(248, 241, 219);
}

.recipe-body {
    margin: 20px 40px;
}

ul, ol {
    margin-left: 30px;
}

h2 {
    margin: 15px 0px 10px 20px;
}

h2.desc {
    margin: 15px 0px 10px;
}

.list {
    font-size: 135%;
}

p {
    margin-bottom: 40px;
}

h1 {
    margin: 10px 0px;
}